nginx/certs/local.key
nginx/certs/local.crt
.env
node_modules/
__pycache__/
*.pyc
.vite/
dist/
.DS_Store
media/blindtest/*.mp3
media/blindtest/*.mp4
media/blindtest/*.wav
media/blindtest/*.m4a
.cursor/